<html>
    <head>
        <title>Fidently!!</title>
        <link rel="stylesheet" href="/stylesheets/style.css">
    </head>
    <body>
        <header>
            <p>Fidelity</p>
            <nav>
                <ul>
                    <a href="/operators/create">Create Operator</a>                 
                </ul>
                <ul>
                    <a href="/operators">See Operators</a>
                    
                </ul>
            </nav>
        </header>